In [1]:
import mysql.connector as con
import pandas as pd

database=con.connect(host="localhost",user="root",passwd="root")
cursor=database.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS college")
database=con.connect(host="localhost",user="root",passwd="root",database="institution")

In [2]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:root@localhost:3306/institution', echo = False)
connection =engine.raw_connection()
cursor = connection.cursor(buffered=True)

In [3]:
cursor=database.cursor(buffered=True)
query="select medical.name_of_institution,dental.name_of_institution \
from medical INNER JOIN research \
ON medical.institute_id=dental.institute_id"
cursor.execute(query)
data=cursor.fetchall()
for i in data:
    print(i)

ProgrammingError: 1054 (42S22): Unknown column 'dental.name_of_institution' in 'field list'

In [4]:
overall=("CREATE TABLE IF NOT EXISTS overall(\
     institute_id varchar(255) NOT NULL Primary Key,\
               name_of_institution char(30),\
                    city char(20),\
                         state char(20),\
                              score float,\
                                   rating int(10))")
cursor=database.cursor()
cursor.execute(overall)
database.commit()

In [5]:
"""#For Reading Excel Sheet
#from pandasql import sqldf
#result=sqldf("select * from df")

df_university=pd.read_excel('university.xlsx',)
df_university.to_sql("university",engine,if_exists='replace',index=False,chunksize=1000)

df_architecture=pd.read_excel('architecture.xlsx')
df_architecture.to_sql("architecture",engine,if_exists='replace',index=False,chunksize=1000)

df_medical=pd.read_excel('medical.xlsx')
df_medical.to_sql("medical",engine,if_exists='replace',index=False,chunksize=1000)

df_dental=pd.read_excel('dental.xlsx')
df_dental.to_sql("dental",engine,if_exists='replace',index=False,chunksize=1000)

df_law=pd.read_excel('law.xlsx')
df_law.to_sql("law",engine,if_exists='replace',index=False,chunksize=1000)

df_pharmacy=pd.read_excel('pharmacy.xlsx')
df_pharmacy.to_sql("pharmacy",engine,if_exists='replace',index=False,chunksize=1000)

df_college=pd.read_excel('college.xlsx')
df_college.to_sql("college",engine,if_exists='replace',index=False,chunksize=1000)

df_overall=pd.read_excel('overall.xlsx')
df_overall.to_sql("overall",engine,if_exists='replace',index=False,chunksize=1000)

df_engineering=pd.read_excel('engineering.xlsx')
df_engineering.to_sql("engineering",engine,if_exists='replace',index=False,chunksize=1000)

df_management=pd.read_excel('management.xlsx')
df_management.to_sql("management",engine,if_exists='replace',index=False,chunksize=1000)

df_research=pd.read_excel('research.xlsx')
df_research.to_sql("research",engine,if_exists='replace',index=False,chunksize=1000)"""

'#For Reading Excel Sheet\n#from pandasql import sqldf\n#result=sqldf("select * from df")\n\ndf_university=pd.read_excel(\'university.xlsx\',)\ndf_university.to_sql("university",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_architecture=pd.read_excel(\'architecture.xlsx\')\ndf_architecture.to_sql("architecture",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_medical=pd.read_excel(\'medical.xlsx\')\ndf_medical.to_sql("medical",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_dental=pd.read_excel(\'dental.xlsx\')\ndf_dental.to_sql("dental",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_law=pd.read_excel(\'law.xlsx\')\ndf_law.to_sql("law",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_pharmacy=pd.read_excel(\'pharmacy.xlsx\')\ndf_pharmacy.to_sql("pharmacy",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_college=pd.read_excel(\'college.xlsx\')\ndf_college.to_sql("college",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_overall=pd.read_excel(\'overall.xlsx\')\ndf_overall.to_sql("overall",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_engineering=pd.read_excel(\'engineering.xlsx\')\ndf_engineering.to_sql("engineering",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_management=pd.read_excel(\'management.xlsx\')\ndf_management.to_sql("management",engine,if_exists=\'replace\',index=False,chunksize=1000)\n\ndf_research=pd.read_excel(\'research.xlsx\')\ndf_research.to_sql("research",engine,if_exists=\'replace\',index=False,chunksize=1000)'

In [6]:

connection =engine.raw_connection()
cursor = connection.cursor(buffered=True)
#cursor.execute("select * from research limit 10")
frame=pd.read_sql("select * from college.research order by 'City' asc limit 10 offset 10",database);
print(frame)
cursor.close()

  Institute ID                                Name Of Institution       City  \
0  IR-R-U-0120                                University of Delhi      Delhi
1  IR-R-U-0490                    Vellore Institute of Technology    Vellore
2  IR-R-U-0304                     Homi Bhabha National Institute     Mumbai
3  IR-R-U-0500                           Banaras Hindu University   Varanasi
4  IR-R-U-0013           Indian Institute of Technology Hyderabad  Hyderabad
5  IR-R-U-0305  Indian Institute of Science Education & Resear...       Pune
6  IR-R-U-0575                                Jadavpur University    Kolkata
7  IR-R-U-0109                        Jawaharlal Nehru University  New Delhi
8  IR-R-U-0224  Jawaharlal Nehru Centre for Advanced Scientifi...  Bengaluru
9  IR-R-U-0205  Indian Institute of Technology (Indian School ...    Dhanbad

           State  Score  Ranking
0          Delhi  56.96       11
1     Tamil Nadu  55.58       12
2    Maharashtra  55.24       13
3  Uttar Pradesh  54.96       14
4      Telangana  54.70       15
5    Maharashtra  54.50       16
6    West Bengal  54.02       17
7          Delhi  53.52       18
8      Karnataka  52.57       19
9      Jharkhand  52.40       20

True

In [7]:
cursor=database.cursor(buffered=True)
x='Indian Institute of Science'
query=str("SELECT * FROM university where 'name_of_institution'='%s' limit 10"%x)
cursor.execute(query)
data=cursor.fetchall()
for i in data:
     print(i)

In [8]:
def Overall():
     import sqlalchemy 
     df_overall=pd.read_excel('overall.xlsx')
     df_overall.to_sql("overall",engine,if_exists='replace',index=False,\
         dtype={'institute_id': sqlalchemy.types.NVARCHAR(length=20), 
                'name_of_institution':  sqlalchemy.types.VARCHAR(length=30),
                'city': sqlalchemy.types.VARCHAR(length=20),
                'state': sqlalchemy.types.VARCHAR(length=20),
                'score': sqlalchemy.types.Float(precision=2,asdecimal=True),
                'rating':sqlalchemy.types.INTEGER()})

     while True:
            print("Overall College Search")
            print("Select from The Following Type Of Searches Available")
            print("1.Search by Institute Name\n2.Search Institute ID\n3.Search by City\n4.Search By State\n5.Search By Institute Score\n6.Search By Institute Rank")
            ch=int(input("Your Choice:"))
            
            if ch==1:
                SearchByInstituteName(overall)

In [9]:
#main menu switch
while True:
     print("Main Menu")
     print("Select To Search From Following College Categories")
     print("\t1.Overall\n\t2.University\n\t3.Engineering\n\t4.Architecture\n\t5.Management\n\t6.Medical\n\t7.Dental\n\t8.Pharmacy\n\t9.Law\n\t10.Research\n\t11.College\n\t12.Exit")
     ch1=int(input("Your Choice : "))

     if ch1==1:
          Overall()
     elif ch1==2:
          University()
     elif ch1==3:
          Engineering()
     elif ch1==4:
          Architecture()
     elif ch1==5:
          Management()
     elif ch1==6:
          Medical()
     elif ch1==7:
          Dental()
     elif ch1==8:
          Pharmacy()
     elif ch1==9:
          law()
     elif ch1==10:
          Research()
     elif ch1==11:
          College()
     elif ch1==12:
          break
     else:
          print("Wrong Choice! Choose From The Choices Available.")

Main Menu
Select To Search From Following College Categories
	1.Overall
	2.University
	3.Engineering
	4.Architecture
	5.Management
	6.Medical
	7.Dental
	8.Pharmacy
	9.Law
	10.Research
	11.College
	12.Exit

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\JAYANT\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-9-1d2ba982a3c9>", line 6, in <module>
    ch1=int(input("Your Choice : "))
ValueError: invalid literal for int() with base 10: ''

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\JAYANT\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 1863, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ValueError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\JAYANT\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\JAYANT\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 311, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\JAYANT\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 345, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\JAYANT\Anaconda3\lib\inspect.py", line 1483, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\JAYANT\Anaconda3\lib\inspect.py", line 1441, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\JAYANT\Anaconda3\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\JAYANT\Anaconda3\lib\inspect.py", line 739, in getmodule
    f = getabsfile(module)
  File "C:\Users\JAYANT\Anaconda3\lib\inspect.py", line 708, in getabsfile
    _filename = getsourcefile(object) or getfile(object)
  File "C:\Users\JAYANT\Anaconda3\lib\inspect.py", line 693, in getsourcefile
    if os.path.exists(filename):
  File "C:\Users\JAYANT\Anaconda3\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

ValueError: invalid literal for int() with base 10: ''

In [ ]:

import sqlalchemy
df_overall=pd.read_excel('overall.xlsx')
df_overall.to_sql("overall",engine,if_exists='replace',index=False,
dtype={'institute_id': sqlalchemy.types.NVARCHAR(length=20), 
'name_of_institution':  sqlalchemy.types.NVARCHAR(length=30),
'city': sqlalchemy.types.NVARCHAR(length=20),
'state': sqlalchemy.types.NVARCHAR(length=20),
'score': sqlalchemy.types.Float(precision=2,asdecimal=True),
'rating':sqlalchemy.types.INTEGER()})

In [13]:
cursor=database.cursor(buffered=True)
query=("drop table ;")
#query=str("SELECT * FROM overall group by name_of_institution limit 10")
cursor.execute(query)
#cursor.execute(query)
'''data=cursor.fetchall()
for i in data:
     print(i)'''

'data=cursor.fetchall()\nfor i in data:\n     print(i)'

In [ ]:
query=("select * from overall where name_of_institution='Indian Institute of Science';")
cursor.execute(query)
data=cursor.fetchall()
column=['Institute ID','Name Of Institution','City','State','Score','Rank']
for i in column:
     print(i,end="\t")
print("\n")
for i in data:
     for j in i:
          print(j,end="\t")
     print("\n")